body {
    font-family: sans-serif;
}

table {
    width: 100%;
    text-align: left;
    border: none;
}

td, th {
    border: 1px solid gray;
}

th {
    background: lightblue;
    padding: 3px 5px;
}

td {
    font-size: 14px;
    padding: 2px 5px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.time {
    font-size: 10px;
    white-space: nowrap;
    font-family: monospace;
}

.coord {
    font-family: monospace;
}
