body {
    font-family: sans-serif;
    text-align: center;
    background-color: #dfd;
}

#query {
    width: 500px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: none;
    font-weight: bold;
    display: block;
    margin: 5px auto;
}

#query:focus {
    box-shadow: 0 0 2px 2px orange;
}

input[type=submit], button, select {
    font-size: 18px;
    border-radius: 8px;
}

#status {
    border: 1px solid black;
    display: block;
    width: 500px;
    padding: 5px;
    margin: 5px auto;
    font-weight: bold;
    border-radius: 8px;
    background-color: lightgreen;
    text-align: center;
}

table {
    width: 100%;
    text-align: left;
    border: none;
}

td, th {
    border: 1px solid gray;
}

th {
    background: lightblue;
    padding: 3px 5px;
}

td {
    font-size: 14px;
    padding: 2px 5px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: white;
}

.time {
    font-size: 10px;
    white-space: nowrap;
    font-family: monospace;
}

.coord {
    font-family: monospace;
}
